* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  font-family: "Oswald", sans-serif;
  background: #e9e9e9;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.container .content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 450px;
  margin: 100px auto;
  overflow: hidden;
  position: relative;
}

.container .content #menuBtn {
  margin-left: auto;
  z-index: 3;
}

.container .content .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 15px;
  margin-right: 15px;
  color: #fff;
}
.container .content .menu p {
  line-height: 3;
  font-size: 20pt;
  background: #191622;
  width: 100%;
  text-align: center;
  transform: translateX(350px);
  transition: 0.3s;
  cursor: pointer;
}

.container .content .menu p:hover {
  color: #f8f8f2;
  background-color: #ff5555;
}

#menuBtn {
  width: 0;
  height: 0;
  appearance: none;
  cursor: pointer;
}

#menuBtn::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #21222c;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#menuBtn:hover::before {
  background-color: #ff5555;
}

#menuBtn:checked::before {
  background-color: #ff5555;
  background-image: url("./icon/close.svg");
}

#menuBtn:not(:checked)::before {
  background-image: url("./icon/menu.svg");
}

#menuBtn:checked + .menu p {
  animation: showMenu 0.5s linear forwards;
}

#menuBtn:checked + .menu p:nth-child(1) {
  animation-delay: 0.2s;
}
#menuBtn:checked + .menu p:nth-child(2) {
  animation-delay: 0.5s;
}
#menuBtn:checked + .menu p:nth-child(3) {
  animation-delay: 0.8s;
}
#menuBtn:checked + .menu p:nth-child(4) {
  animation-delay: 1.1s;
}

#menuBtn:not(:checked) + .menu p {
  animation: hideMenu 0.5s linear backwards;
}

#menuBtn:not(:checked) + .menu p:nth-child(1) {
  animation-delay: 1.1s;
}
#menuBtn:not(:checked) + .menu p:nth-child(2) {
  animation-delay: 0.8s;
}
#menuBtn:not(:checked) + .menu p:nth-child(3) {
  animation-delay: 0.5s;
}
#menuBtn:not(:checked) + .menu p:nth-child(4) {
  animation-delay: 0.2s;
}

@keyframes showMenu {
  from {
    transform: translateX(350px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes hideMenu {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(350px);
  }
}
