* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  background: #191622;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.container svg {
  animation: heart 2s linear infinite;
}

@keyframes heart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  30% {
    transform: scale(1.4);
  }
  50% {
    transform: scale(1.2);
  }
  70% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}
