* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 64pt;
  font-weight: 700;
  background: #eeeeee;
}

p {
  background: url(bg.jpg);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: textBG 5s linear infinite;
}

@keyframes textBG {
  0% {
    background-position: 0, 0;
  }
  100% {
    background-position: 100%, 100%;
  }
}
