body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.container a {
  width: 50px;
  height: 50px;
  transform: rotate(-30deg) skew(25deg);
  position: relative;
  transition: 0.2s;
}

.container a span {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: 0.2s;
}

.container a span[class*="facebook"] {
  background-color: #3b5998;
}
.container a span[class*="twitter"] {
  background-color: #1da1f2;
}
.container a span[class*="instagram"] {
  background-color: #e4405f;
}
.container a span[class*="linkedin"] {
  background-color: #0077b5;
}
.container a span[class*="whatsapp"] {
  background-color: #25d366;
}
.container a span[class*="github"] {
  background-color: #333;
}

.container a:hover span {
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.1);
}
.container a:hover span:nth-child(5) {
  transform: translate(40px, -40px);
  opacity: 1;
}
.container a:hover span:nth-child(4) {
  transform: translate(30px, -30px);
  opacity: 0.8;
}
.container a:hover span:nth-child(3) {
  transform: translate(20px, -20px);
  opacity: 0.6;
}
.container a:hover span:nth-child(2) {
  transform: translate(10px, -10px);
  opacity: 0.4;
}
.container a:hover span:nth-child(1) {
  transform: translate(0, 0);
  opacity: 0.2;
}
